<head>
<% content_for(:title, "Help") %>
</head>
<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Help
    </div>  
	</div>
</div>