<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      <div class="header">
        <h1>ValetBike</h1>
      </div> 
    </div>
   
    <h1 style="margin: auto">Basic Instructions</h1>
    <div class="basic-instructions">
      <div class="basic-instruction-step">Step 1</div>
      <div class="basic-instruction-step">Step 2</div>
      <div class="basic-instruction-step">Step 3</div>
      <div class="basic-instruction-step">Step 4</div>
    </div>

	</div>
</div>