<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      <div class="header">
        <h1>ValetBike</h1>
      </div> 
    </div>

    <div class="homepage-blurb flexbox vertical stretch" style="padding-bottom:30px; margin-left:50px;">
    Welcome to ValetBike, an exciting way to explore Nipmuc Notch! 
    ValetBike allows you to easily travel around the community by renting a bike from one of our many stations. 
    Bikes can be rented and returned to any station through our website; all you need is a ValetBike account! 
    Check out the instructions below to get started: 
    </div>
   
    <!-- <h1 style="margin: auto">Basic Instructions</h1>-->
    <div class="basic-instructions flexbox vertical stretch">
      <div class="basic-instruction-step">
        <span>Step 1</span>
        <p class="basic-instruction-text">Instruction 1</p>
        <img class="basic-instruction-image" src="../../assets/favicon.ico" alt="Image 1"> <!-- favicon used as placeholder -->
      </div>
      <div class="basic-instruction-step">
        <span>Step 2</span>
        <p class="basic-instruction-text">Instruction 2</p>
        <img class="basic-instruction-image" src="../../assets/favicon.ico" alt="Image 2">
      </div>
      <div class="basic-instruction-step">
        <span>Step 3</span>
        <p class="basic-instruction-text">Instruction 3</p>
        <img class="basic-instruction-image" src="../../assets/favicon.ico" alt="Image 3">
      </div>
      <div class="basic-instruction-step">
        <span>Step 4</span>
        <p class="basic-instruction-text">Instruction 4</p>
        <img class="basic-instruction-image" src="../../assets/favicon.ico" alt="Image 4">
      </div>
    </div>

	</div>
</div>