<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      <div class="header">
        <h1>ValetBike</h1>
      </div> 
    </div>
   

    <div class="flexbox vertical stretch">
      <p> Basic Instructions</p>
      <p> Bike Fun</p>
      <p> News </p>
    </div> 


    <div class="flexbox vertical stretch">

      <% if user_signed_in? %>
        Signed in as <%= current_user.username %>
        <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
      
      <% else %>
      <div class="empty">
        Not signed in <br>
        <%= link_to 'Sign in', '/users/sign_in' %>
      </div>
      <% end %>
    </div>
	</div>
</div>