<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      <div class="header">
        <h1>ValetBike</h1>
      </div> 
    </div>
    <div class ="bad-puns">
    <img style="width:100px" src="../../assets/proudSarah.png">
      <div class="bubble">
        <h2>Sarah's Pun of the day: <br> <%= ShowPuns! %></h2>
      </div>
    <div class="homepage-blurb"> Welcome to ValetBike, an exciting way to explore Nipmuc Notch! 
    ValetBike allows you to easily travel around the community by renting a bike from one of our many stations. 
    Bikes can be rented and returned to any station through our website; all you need is a ValetBike account! 
    Check out the instructions below to get started: </div>
      
    </div>
    
    <div class="basic-instructions flexbox vertical stretch">
      <div class="basic-instruction-step">
        <span>Join Us</span>
        <p class="basic-instruction-text">Create an account! You can register using your e-mail only!
        </p>
        <img class="basic-instruction-image" style="width:70%" src="../../assets/join.png" alt="Image 1"> <!-- favicon used as placeholder -->
      </div>
      <div class="basic-instruction-step">
        <span>Unlock A Bike</span>
        <p class="basic-instruction-text"> Unlock a bike by selecting the Bike ID at rent/station map pages. You will pay from your balance, which must be filled in advance.  
        </p>
        <img class="basic-instruction-image" src="../../assets/unlock.png" alt="Image 2">
      </div>
      <div class="basic-instruction-step">
        <span>Ride</span>
        <p class="basic-instruction-text">Enjoy your ride! After you unlock the bike, try to enjoy our beautiful valley! </p>
        <img class="basic-instruction-image" style="width:80%" src="../../assets/ride.png" alt="Image 3">
      </div>
      <div class="basic-instruction-step">
        <span>Lock The Bike</span>
        <p class="basic-instruction-text">Once you want to end it, you can return it to any ValetBike and dock it there. You should also enter what station you docked your bike on the website.
        </p>
        <img class="basic-instruction-image" src="../../assets/lock.png" alt="Image 4">
      </div>
    </div>

	</div>
</div>