<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Pricing and Payment
    </div>  



  <form>
  <select name = "stations">
  <% @stations.each do |station|%>
    <option><%=station.address%></option>
  <%end%>
  </select>
  <br/>
  <input type="submit" value="select station">
  </form>
<%= form_with method: :get do |form|%>
 
  <%= form.select :station, @stations %>
  <%=@stations%>
  <!-- having an input tag with submit type and then have backend in the controller to process the input
  params in ruby to filter through list 
  
  -->

<%end%>
	</div>
</div>