<head>
<% content_for(:title, "Pricing and Payment") %>
</head>
<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Pricing and Payment New Edition :)
    </div>  
	</div>
</div>