<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Ride
    </div>  
    You are riding <%= @bike.identifier %>. 
    Ride started at [time] from [station].
    <input type="submit" class="button" value="end ride" onclick="window.location = 'pricing_and_payment/ride'"> <!--change redirect-->
	</div>
</div>