<head>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css" integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js" integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>

  <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
  integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
  crossorigin="">
  </script>
  <% content_for(:title, "Station Maps") %>
</head>

<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    
    <div class="section-title">
      Station Map/List
    </div>
    <div class="flexbox vertical stretch">
      <section>
        <div class="stations-map">
          <div>
            Station Map
          </div>
          <div id="map"></div>
          <script>
            var map = L.map('map').setView([42.3163031, -72.6424982], 13); // centered at Smith College
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
              maxZoom: 19,
              attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);
            var pulaskiMarker = L.marker([42.3173232, -72.6330437]).addTo(map);
            pulaskiMarker.bindPopup("<a href='https://goo.gl/maps/DrLW1RmmBFJePwGR6' target='_blank'>Pulaski Park</a>");
            var forbesLibMarker = L.marker([42.316749, -72.635711]).addTo(map);
            forbesLibMarker.bindPopup("<a href='https://goo.gl/maps/WvWT6oWJWc9wqsLt5' target='_blank'>Forbes Library</a>");
            var JMGMarker = L.marker([42.3194483, -72.6402443]).addTo(map);
            JMGMarker.bindPopup("<a href='https://goo.gl/maps/9LzMWy66P5jvre8XA' target='_blank'>John M. Greene</a>");
            var oneBridgeStreetMarker = L.marker([42.3204752, -72.6325833]).addTo(map);
            oneBridgeStreetMarker.bindPopup("<a href='https://goo.gl/maps/9E5gRdPnPTodrmaj9' target='_blank'>Main Street/Bridge Street</a>");
            var ninetyNineMainStMarker = L.marker([42.3195189, -72.632782]).addTo(map);
            ninetyNineMainStMarker.bindPopup("<a href='https://goo.gl/maps/Wb5CZzD9pcWNzbCJ7' target='_blank'>Main Street/Court House</a>");
            
          </script>
        </div>
        <div class="stations-list">
          <div class="stations-list-title">
            Station List
          </div>  
          <% if @stations.present? %>
            <%= render(partial: "stations/row", collection: @stations, as: :station) %>
          <% else %>
          <div class="empty">
            No stations found.
          </div>
          <% end %>
        </div>
      </section>
    </div>
    <!-- <em></em> -->
	</div>
</div>
