<head>
<style>

# section {
#   position: relative;
#   width: 50%;
#   border: 1px solid;
# }

.stations-map {
  float: right;
}

# .stations-map-title {
#   float: right;
# }

.stations-list {
  width: 40%;
}
</style
</head>


<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Station Map/List
    </div>
    <div class="flexbox vertical stretch">
      <section>
        <div class="stations-map">
          <div>
            Station Map
          </div>
          <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d23602.094674435328!2d-72.6368256!3d42.3156138!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1667497634051!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
          <iframe src="https://www.google.com/maps/d/embed?mid=1SXPLK3a8wCOBcI1kvsLYRy0PrOVlZJU&ehbc=2E312F" width="640" height="480"></iframe>
        </div>
        <div class="stations-list">
          <div class="stations-list-title">
            Station List
          </div>  
          <% if @stations.present? %>
            <%= render(partial: "stations/row", collection: @stations, as: :station) %>
          <% else %>
          <div class="empty">
            No stations found.
          </div>
          <% end %>
        </div>
      </section>
    </div>
    
	</div>
</div>
