<head>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css" integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js" integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>

  <style>
    /* section {
      position: relative;
      width: 50%;
      border: 1px solid;
    }  */

    .stations-map {
      float: right;
    }

    /* .stations-map-title {
      float: right;
    } */
    .stations-list {
      width: 40%;
    }

    #map {
      height: 400px;
      width: 700px;
    }
  </style>
  <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
  integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
  crossorigin="">
  </script>
</head>

<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    
    <div class="section-title">
      Station Map/List
    </div>
    <div class="flexbox vertical stretch">
      <section>
        <div class="stations-map">
          <div>
            Station Map
          </div>
          <div id="map"></div>
          <script>
            var map = L.map('map').setView([42.3163031, -72.6424982], 13);
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
              maxZoom: 19,
              attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);
            var pulaskiMarker = L.marker([42.3173232, -72.6330437]).addTo(map);
            pulaskiMarker.bindPopup("Pulaski Park");
            var ForbesLibMarker = L.marker([42.316749, -72.635711]).addTo(map);
            ForbesLibMarker.bindPopup("Forbes Library");
            var JMGMarker = L.marker([42.3194444, -72.6380556]).addTo(map);
            JMGMarker.bindPopup("John M Greene");
            var OneBridgeStreetMarker = L.marker([42.3204713, -72.6280986]).addTo(map);
            OneBridgeStreetMarker.bindPopup("1 Bridge Street");
            var NineNineMainStMarker = L.marker([42.319515, -72.6305933]).addTo(map);
            NineNineMainStMarker.bindPopup("99 Main Street");
            
          </script>
          
          <!--  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d23602.094674435328!2d-72.6368256!3d42.3156138!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1667497634051!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
          <!-- <iframe src="https://www.google.com/maps/d/embed?mid=1SXPLK3a8wCOBcI1kvsLYRy0PrOVlZJU&ehbc=2E312F" width="640" height="480"></iframe> -->
        </div>
        <div class="stations-list">
          <div class="stations-list-title">
            Station List
          </div>  
          <% if @stations.present? %>
            <%= render(partial: "stations/row", collection: @stations, as: :station) %>
          <% else %>
          <div class="empty">
            No stations found.
          </div>
          <% end %>
        </div>
      </section>
    </div>
    <!-- <em></em> -->
	</div>
</div>
