<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Oops!
    </div>  
    You need to be signed in to ValetBike in order to access this service. <br/>
    <%= link_to 'Sign in now.', '/users/sign_in' %>
	</div>
</div>