<head><% content_for(:title, "About") %></head>
<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      About
    </div>  
    <p>
    ValetBike is a bike sharing service for the Nipmuc Notch community.<br>
    This online version was built by:
      <ul style="list-style-type:disc;"> 
        <li>Thu Tran</li>
        <li>Manar Alnazer</li> 
        <li>Sarah Branch</li> 
        <li>Asher Uman</li> 
        <li>Annie Stardess Karitonze</li>
      </ul>
    </p>
	</div>
</div>