<head><% content_for(:title, "About") %></head>
<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      About ValetBike
    </div>  
    <p>
    ValetBike is a bike sharing service for the Nipmuc Notch community.<br>
    The goal of ValetBike is to allow for people looking to explore and easily commute around Western Massachusetts. 
    </p>
    <p>
      If you want to contact you can do so here: (not sure what we want our main for of communication to be)
    </p style="padding=40px"><br>
    <p>
      Learn more about us! This online version was built by: 
    </p>
	</div>
</div>

<div class="card-space1 flexbox horizontal stretch">
  <div class="flip-card card-position">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="../../assets/manar.png" alt="Manar" class="card-image">
        <h1 style="padding:10px">Manar Alnazer</h1>
      </div>
      <div class="flip-card-back">
        <p style="padding:10px">My name is Manar, which means lighthouse. I am double majoring in Computer Science and Middle East Studies. I would love to become a historian and a professor in the future. I like reading and feeding my friends.</p> 
      </div>
    </div>
  </div>


  <div class="flip-card card-position">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="../../assets/klee.webp" alt="klee" class="card-image">
        <h1 style="padding:10px">Sarah Branch</h1>
      </div>
      <div class="flip-card-back">
      <p>Sarah is a Smith College student who helped with the database and the creation of Jelly. She can’t ride a bike, enjoys playing Genshin Impact, and annoys her team member Asher about not playing Genshin Impact. </p>
        <p>Quote from Sarah: "I'm a threat to your grade and mine."</p> 
      </div>
    </div>
  </div>


  <div class="flip-card card-position">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="../../assets/Dragon.jpeg" alt="Annie" class="card-image">
        <h1 style="padding:10px">Annie Stardess Karitonze</h1>
      </div>
      <div class="flip-card-back">
        <p>Annie is a Smith College student double majoring in Computer Science and Math. She primarily worked on the front-end part of the website. Outside the classroom, Annie enjoys reading, dancing to Afrobeat music and hanging out with friends.</p> 
      </div>
    </div>
  </div>


  <div class="flip-card card-position">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="../../assets/washer_sq.jpeg" alt="Washer" class="card-image">
        <h1 style="padding:10px">Thu Tran</h1> 
      </div>
      <div class="flip-card-back"> 
        <p>Thu is an aspiring software engineer from Smith College who primarily works on the front end of the website. During her work, she especially enjoys resolving 1001 Git and GitHub problems encountered by her teammates and herself. Outside of programming, Thu finds joy in food hunting, learning Korean, sleeping in, and watching late-night movies with her friends. </p> 
      </div>
    </div>
  </div>


  <div class="flip-card card-position">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="../../assets/washer_sq.jpeg" alt="Washer" class="card-image">
        <h1 style="padding:10px">Asher Uman</h1> 
      </div>
      <div class="flip-card-back">
        <p>Asher is a software engineer from Smith College, and works on our account management and ride databases. In their free time they enjoy biking around Nipmuc Notch, having pink hair, and not playing Genshin Impact.</p> 
      </div>
    </div>
  </div>

  <div class="flip-card card-position">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="../../assets/jelly3.png" alt="Jelly" class="card-image">
        <h1 style="padding:10px">Jelly</h1> 
      </div>
      <div class="flip-card-back">
        <p>Jelly the Joking Frog. Jelly is frog who can't ride a bike. But it's not because his legs are too short. His legs are not short at all.</p> 
      </div>
    </div>
  </div>
  </div>
</div>
