<head><% content_for(:title, "About") %></head>
<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      About
    </div>  
    <p>
    ValetBike is a bike sharing service for the Nipmuc Notch community.<br>
    This online version was built by:
      <ul style="list-style-type:disc;"> 
        <li>Thu Tran</li>
        <li>Manar Alnazer</li> 
        <li>Sarah Branch</li> 
        <li>Asher Uman</li> 
        <li>Annie Stardess Karitonze</li>
      </ul>
      current plan is to make flash cards for us to flip 
    </p>
	</div>
</div>

  <div class="card-space1 flexbox horizontal stretch">
    <div class="flip-card card-position">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="../../assets/washer.jpeg" alt="Washer" style="width:300px;height:250px;">
          <h1>Manar Alnazer</h1>
        </div>
      <div class="flip-card-back">
        <h1>Manar Alnazer</h1> 
        <p>gave me a cookie</p> 
      </div>
      </div>
    </div>


    <div class="flip-card card-position">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="../../assets/klee.webp" alt="klee" style="width:300px;height:250px;">
          <h1>Sarah Branch</h1>
        </div>
      <div class="flip-card-back">
        <h1>tree</h1> 
        <p>I'm a threat to your grade and mine</p> 
      </div>
      </div>
    </div>


    <div class="flip-card card-position">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="../../assets/washer.jpeg" alt="Washer" style="width:300px;height:250px;">
          <h1>Annie Stardess Karitonze</h1>
        </div>
      <div class="flip-card-back">
        <h1>Annie Stardess Karitonze</h1> 
        <p>has to deal with me in CSC 223 AND CSC 250</p> 
      </div>
      </div>
    </div>
  </div>

  <div class="card-space2">
    <div class="flip-card card-position">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="../../assets/washer.jpeg" alt="Washer" style="width:300px;height:250px;">
          <h1>Thu Tran</h1> 
        </div>
      <div class="flip-card-back">
        <h1>Thu Tran</h1> 
        <p>only reason i haven't had my usual 30 mental breakdowns over github</p> 
      </div>
      </div>
    </div>


    <div class="flip-card card-position">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="../../assets/washer.jpeg" alt="Washer" style="width:300px;height:250px;">
          <h1>Asher Uman</h1> 
        </div>
      <div class="flip-card-back">
        <h1>wAsher</h1> 
        <p>has pink hair and doesn't play genshin</p> 
      </div>
      </div>
    </div>

  </div>


