/************************************/
/*        Global Definitions        */
/************************************/

* {
  margin: 0;
  padding: 0;
  z-index: 1;
}

html, body {
  height: 100%;
}

body {
  font-size: 12pt;
  -webkit-text-size-adjust:none;
  -moz-text-size-adjust:none;
  -ms-text-size-adjust:none;
  -webkit-text-size-adjust:100%;
  -moz-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
}

#site-container{
  position: relative;
  width: 100%;
  height: 100%;
  height: auto !important;
  min-height: 100%;
  font-family: var(--body-font);
  font-weight: 400;
  color: var(--black-color);
  background: var(--white-color);
}

nav {
  margin: 0;
  padding: 1;
  overflow: hidden;
  background-color: #61a961;
  position: fixed;
  width: 100%;
}

.logo{
  width: 120px;
}

nav ul {
  width: 100%;
  text-align: left;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}
nav .menu{
  display:none;
  background-color:white;
  box-shadow: 10px 10px 5px     #E8E8E8;
  width:300px; float:right;
  margin-top:60px;
}
.user-info {
  display: flex;
}

.sub-menu-link{
  display: flex;
  position: absolute;
  margin: 14px 16px;
  text-decoration: none;
  color: white;
  overflow: hidden;
}
.sub-menu-link p {
  width: 100%;
  color: black;
  text-align: center;
}

.sub-menu-link span{
  font-size: 22px;
  transition: transform 0.5s;
}

.sub-menu-link :hover span{
  transform: translateX(5px);
}

.sub-menu-link:hover p {
  font-weight: 600;
}
#subMenu {
  display:none; 
  background-color:white; 
  box-shadow: 10px 10px 5px     #E8E8E8; 
  width:300px; 
  height: 80px;
  margin-left: 80%; 
  position:fixed; 
  text-align: center; 
  border-style: outset;
  border-width: thin;
}

    /* section {
      position: relative;
      width: 50%;
      border: 1px solid;
    }  */

    .stations-map {
      float: right;
    }

    /* .stations-map-title {
      float: right;
    } */
    .stations-list {
      width: 40%;
    }

    #map {
      height: 400px;
      width: 700px;
    }
    /* TODO: onclick should apply to the entire div/box, not just the text 
   * This is for experiment only.
  */
  .actions {
    background-color: yellow;
    width: 60px;
    text-align: center;
    border: solid;
  }