/************************************/
/*        Global Definitions        */
/************************************/

* {
  margin: 0;
  padding: 0;
  z-index: 1;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-size: 12pt;
  -webkit-text-size-adjust:none;
  -moz-text-size-adjust:none;
  -ms-text-size-adjust:none;
  -webkit-text-size-adjust:100%;
  -moz-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
}

#site-container{
  position: relative;
  width: 100%;
  height: 100%;
  height: auto !important;
  min-height: 100%;
  font-family: var(--body-font);
  font-weight: 400;
  color: var(--black-color);
  background: var(--white-color);
}

nav {
  margin: 0;
  padding: 1;
  overflow: hidden;
  background-color: #61a961;
  position: fixed;
  width: 100%;
}

.logo{
  width: 120px;
}

nav ul {
  width: 100%;
  text-align: left;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: #000000;
}

nav .menu{
  display:none;
  background-color:white;
  box-shadow: 10px 10px 5px     #E8E8E8;
  width:300px; float:right;
  margin-top:60px;
}

.user-info {
  display: flex;
}

.sub-menu-link{
  display: flex;
  position: absolute;
  margin: 14px 16px;
  text-decoration: none;
  color: white;
  overflow: hidden;
}

.sub-menu-link p {
  width: 100%;
  color: black;
  text-align: center;
}

.sub-menu-link span{
  font-size: 22px;
  transition: transform 0.5s;
}

.sub-menu-link :hover span{
  transform: translateX(5px);
}

.sub-menu-link:hover p {
  font-weight: 600;
}

#subMenu {
  display:none; 
  background-color:white; 
  box-shadow: 10px 10px 5px     #E8E8E8; 
  width:300px; 
  height: 80px;
  margin-left: 80%; 
  position:fixed; 
  text-align: center; 
  border-style: outset;
  border-width: thin;
}

/* section {
  position: relative;
  width: 50%;
  border: 1px solid;
}  */

.stations-map {
  float: right;
  /* height: 400px; */
}

.stations-list {
  width: 40%;
}

.stations-list-scrollable {
  height: 600px;
  overflow: auto;
}

#map {
  height: 600px;
  width: 700px;
}

button.actions {
  display: block;
  margin: 0 auto;
  color: white;
  background-color: #61a961;
  border: none;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 12px;
}

button.actions:hover {     
  display: block;
  margin: 0 auto;
  color: white;
  background-color: gray;
  border: none;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 12px;  
}

button.user-info {
  background-color: gray;
}

/* Collapsible */

/* Style the button that is used to open and close the collapsible content */
.question-panel {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .question-panel:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.answer {
  padding: 0 18px;
  background-color: #f1f1f1;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.question-panel:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.basic-instructions {
  margin: 20px auto;
  height: 700px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.basic-instruction-step {
  position: relative;
  background-color: #61a961;
  padding: 20px;
  border-radius: 12px;
  color: white;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  text-align: center;
  font-size: 40px;
}

.basic-instruction-step:hover {
  background-color: gray;
}

.basic-instruction-text {
  font-size: 25px;
  text-align: center;
}

.basic-instruction-image {
  position: absolute;
  left: 0;
  bottom: 0;
  /* margin: auto; */
}

.select-button {
  display: block;
  color: white;
  background-color: #61a961;
  border: none;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 12px;
}

.select-button:hover {
  display: block;
  color: white;
  background-color: gray;
  border: none;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 12px;
}

/* payment option boxes */

.payment-section {
  margin: 20px auto;
  height: 700px;
  background-color: blueviolet;
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-row: auto auto;
  grid-column-gap: 20px;
}

.payment-option {
  position: relative;
  background-color: gray;
  padding: 20px;
  border-radius: 12px;
  /*color: white;*/
  text-align: center;
  font-size: 40px;
}

/*payment options end*/

/* Creating the flipcards for the about page */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  border-radius: 50%; 
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #61a961;
  color: white; 
}

.card-image {
  width:250px;
  height:250px;
  padding:20px 0px 0px 0px;
  margin:auto;
}

.flip-card-back {
  /*background-color: #61a961;*/
  background-color: #a3daa3;
  color: black;
  
  padding:20px;
  transform: rotateY(180deg);
}

.card-space1 {
  margin: 30px 30px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-row: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
} /* puts cards into two rows */

.card-space2 {
  margin: 30px 50px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 300px 300px;
  grid-row: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
} /* need to add a div with this class to get rows slightly off centered */

.card-space3 {
  margin: 30px 30px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 300px 300px 300px 300px 300px;
  grid-row: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
} /* For straight line/row */

.circle-image {
  border-radius: 50%; 
  margin: auto;
}

/* Dropdown Button */
.bikes-dropbtn {
  background-color: #61a961;
  color: white;
  padding: 6px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 12px;
}

/* Dropdown button on hover & focus */
.bikes-dropbtn:hover, .bikes-dropbtn:focus {
  background-color: gray;
}

/* The container <div> - needed to position the dropdown content */
.bikes-dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.bikes-dropdown-content {
  display: none;
  position: relative;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.bikes-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.bikes-dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/*** Log in / Sign up elements ***/

.field-title {
  margin-left: 41px;
}

.field-textbox {
  text-align: center;
}

.user-page-title {
  font-weight: bold;
  font-size: 18px;
}

.user-rides-scrollable {
  width: 50%;
  height: 400px;
  overflow: auto;
}

.homepage-blurb {
  padding-bottom:30px; 
  margin-left: 100px; 
  margin-right: 100px; 
  text-align: justify; 
  font-size: 20px
}

.stations-title {
  font-size: 20px;
}

